@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>{{message}}</h1> @* Thes are called Data Binding Directives *@

    <form name="searchUser" ng-submit="search(username)">
        <input type="search" placeholder="Username" ng-model="username" />
        <input type="submit" value="Search" />
    </form>
    @*<div class="alert alert-danger" style="text-align: center;">*@
    {{error}}
    @*</div>*@
    <div ng-include="'Home/UserDetails'" ng-show="user"></div> @* Don't forget about your Controller/Action! *@
</div>